<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<body>
    <div th:fragment="frontMenu">
        <div style="display:flex;justify-content:space-between;align-items:center;width:100%;">
            <nav class="front-menu">
                <ul style="margin:0;">
                    <li><a th:href="@{/front}">Accueil</a></li>
                    <li><a th:href="@{/parties}">Parties</a></li>
                    <li><a th:href="@{/fiches}">Fiches de personnage</a></li>
                    <!-- Lien MJ uniquement -->
                    <li sec:authorize="hasAuthority('MJ')">
                        <a th:href="@{/front/mj-outils}"><i class="fa fa-hat-wizard"></i> Outils MJ</a>
                    </li>
                    <!-- Lien Joueur uniquement -->
                    <li sec:authorize="hasAuthority('JOUEUR')">
                        <a th:href="@{/front/mes-personnages}"><i class="fa fa-user"></i> Mes personnages</a>
                    </li>
                </ul>
            </nav>
            <div style="display:flex;align-items:center;gap:1rem;">
                <span style="font-weight:bold;">
                    <i class="fa fa-user-circle"></i>
                    <span sec:authentication="name">[Nom]</span>
                </span>
                <a th:href="@{/front/parametres}" title="Paramètres" style="font-size:1.3em;"><i class="fa fa-cog"></i></a>
                <form th:action="@{/logout}" method="post" style="display:inline; margin:0; padding:0;">
                    <button type="submit" title="Déconnexion" style="background:none;border:none;color:inherit;cursor:pointer;font-size:1.3em;"><i class="fa fa-sign-out"></i></button>
                </form>
            </div>
        </div>
    </div>
    <!-- FontAwesome CDN for icons -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"/>
    <link rel="stylesheet" th:href="@{/css/theme.css}" />
    <link rel="stylesheet" th:href="@{/css/front.css}" />
</body>
</html> 