<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Accueil Joueur/MJ</title>
    <link rel="stylesheet" th:href="@{/css/fronts.css}" />
    <link rel="stylesheet" th:href="@{/css/theme.css}" />
</head>
<body>
    <div th:replace="~{fragments/front-menu :: frontMenu}"></div>
    <main class="front-dashboard">
        <h1>Bienvenue sur RPGestionnaire</h1>
        <span sec:authorize="hasAuthority('MJ')">
            <p>Vous êtes connecté en tant que <b>Maître du Jeu</b>.</p>
            <a th:href="@{/front/mj-outils}" class="btn"><i class="fa fa-hat-wizard"></i> Accéder aux outils MJ</a>
        </span>
        <span sec:authorize="hasAuthority('JOUEUR')">
            <p>Vous êtes connecté en tant que <b>Joueur</b>.</p>
            <a th:href="@{/front/mes-personnages}" class="btn"><i class="fa fa-user"></i> Voir mes personnages</a>
        </span>
    </main>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"/>
</body>
</html> 